//input
$input-height-normal: 32px;

//text
$text-size-normal: 1rem;
$text-size-sub: 0.875rem;
$text-size-sub-explain: 0.75rem;
$text-size-tiny: 0.625rem;

//color
$color-background-white: #ffffff;
$color-background-pale: #fafcfc;
$color-background-normal: #f2feff;
$color-background-blue-grey: #83a3a6;
$color-background-black: #49504d;
$color-primary: #0cc2a3;
$color-primary-darken-1: #0fb496;
$color-primary-darken-2: #0b9b80;
$color-primary-darken-3: #0a7a66;
$color-primary-darken-4: #03483b;
$color-primary-lighten-1: #8ee2d3;
$color-primary-lighten-2: #b3ece2;
$color-primary-lighten-3: #d4f4ee;
$color-primary-lighten-4: #f1fcfa;
$color-secondary: #03dac6;
$color-secondary-darken-1: #018786;
$color-error: #b00020;
$color-info: #2196f3;
$color-success: #4caf50;
$color-warning: #ff4163;
$color-border: #edf0f0;
$color-border-emphasis: #c6cccb;
$color-text: #222625;
$color-text-dark-grey: #585e5d;
$color-text-light-grey: #9ba3a1;
$color-text-white: #fff;

//radius
$border-radius-chip: 6px;
$border-radius-input: 4px;
$border-radius-tag: 20px;
